body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.registration-section {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  background: url('/img/bg-desc.jpg') no-repeat center center/cover;
  padding: 40px 112px;
  max-width: 1440px;
  height: 780px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.logo {
  position: absolute;
  top: 40px;
}
.left_content {
  max-width: 60%;
}
.left_content h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 121%;
  color: #010101;
  max-width: 624px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.left_content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #010101;
  max-width: 554px;
}
.webinar_info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media only screen and (max-width: 1200px) {
  .webinar_info {
    flex-direction: column;
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
  background: #fff;
  max-width: 488px;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  background: white;
}

.countdown span {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  /* height: 50px; */
  background: white;
  color: black;
  gap: 35px;
}

.countdown span:last-child {
  color: green;
}

.countdown .separator {
  font-size: 40px;
  font-weight: bold;
  color: rgba(1, 1, 1, 0.2);
  border-radius: 15px;
}

.countdown-labels {
  display: flex;
  justify-content: center;
  gap: 35px;
  max-width: 244px;
  text-align: center;
  margin-bottom: 20px;
}

.countdown-labels span {
  color: #010101;
  font-weight: normal;
  font-weight: 700;
  font-size: small;
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.checkbox input {
  appearance: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 2px solid green;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  padding: 10px;
}
.checkbox input:checked::before {
  content: '✔';
  font-size: 16px;
  color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.registration-form h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  text-align: center;
  color: #010101;
}

form {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  display: flex;
  gap: 20px;
  min-width: 296px;
  max-width: 384px;
  margin: 0 auto;
}
input {
  background: #f2f4fa;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #767b8e;
  border: none;
  padding: 12px 16px;
  height: 32px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 64px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.tel-reg-form {
  display: none;
}
.modal {
  display: none;
}

/* Tablet screen */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .registration-section {
    padding: 45px 32px;
  }
  .registration-form {
    max-width: 336px;
    padding: 32px 20px;
    padding-left: 20px;
  }
  .input-wrap {
    max-width: 296px;
  }
  button {
    max-width: 296px;
  }
  .left_content {
    max-width: 50%;
  }
}

/* Mobile screen */
@media (max-width: 768px) {
  .desktop-form {
    display: none;
  }

  .mobile-only {
    display: block;
  }
  .registration-form {
    padding: 32px 20px;
  }
  .registration-section {
    background: url('/img/bg-tab.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: auto;
    padding: 66px 20px;
    justify-content: center;
    align-items: start;
  }

  .tel-reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
    background: #fff;
    padding: 32px 10px;
    height: auto;
    margin: 0 auto;
  }
  .tel-reg-form h2 {
    font-size: 20px;
    min-width: 350px;
    display: flex;
    justify-content: center;
  }
  .tel-reg-form button {
    width: 280px;
    height: 56px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tel-reg-form .countdown {
    display: flex;
  }

  .logo {
    top: 20px;
  }
  .left_content {
    max-width: 100%;
  }
  .left_content h1 {
    font-size: 32px;
    min-width: 320px;
    max-width: 768px;
  }
  .left_content p {
    font-size: 16px;
    min-width: 320px;
    max-width: 768px;
  }
}
@media (max-width: 360px) {
  .registration-section {
    background: url('/img/bg-tel.jpg') no-repeat center center/cover;
  }
}

/* Modal window */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.header-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 29px;
}
.main-content {
  padding: 20px 29px;
}
.main-content h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  text-align: center;
  color: #010101;
}
.main-content .countdown-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: normal;
  font-weight: 700;
  font-size: small;
  color: #010101;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  font-size: large;
  cursor: pointer;
}
